<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="table-sdm">
              <thead>
                <th></th>
                <th>NIDN</th>
                <th>NAMA</th>
                <th>STATUS</th>
              </thead>
              <tbody>

              </tbody>
            </table>

          </div>
    </div>
</div>