<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <link rel="stylesheet" href="/stylesheets/bootstrap-icons/font/bootstrap-icons.min.css">
  <script src="/javascripts/clipboard.min.js"></script>
</head>

<body onload="hide('result')">
  <header class="text-center px-4 py-4 mb-2" style="background: #00264d; color:antiquewhite;">
    <h1>OJS Metadata Extractor</h1>
  </header>
  <div class="container-fluid mx-auto max-w-full px-6 md:py-4">
    <form class="mx-auto  w-75 px-6 justify-items-center" id="form-input" onsubmit="onSubmitUrl(event)">
      <div class="mb-4">
        <div class="input-group">
          <span class="input-group-text">https://</span>
          <input class="form-control form-control-lg" type="url" name="url" id="input-url" required
            placeholder="Masukkan URL Artikel Jurnal" aria-describedby="input-url">
        </div>
        <div id="emailHelp" class="form-text">Pastikan url yang mengarah pada profil/abstrak jurnal, <span
            class="text-danger">bukan PDF Artikel</span></div>
      </div>
      <div class="text-center">

        <button type="submit" class="btn btn-lg btn-info">GET METADATA</button>
      </div>
    </form>
    <div class="row my-5" id="result">
      <div class="col-12 col-md-8 ">
        <h3>Metadata Jurnal</h3>
        <div class="row mb-1">
          <label for="citation_title" class="col-12 col-sm-2 col-form-label">Judul Artikel</label>
          <div class="col-12 col-sm-10">
            <div class="input-group">
              <input type="text" readonly class="form-control" id="citation_title" placeholder="Judul Artikel Jurnal">
              <button class="btn btn-dark" title="copy" type="button" data-clipboard-target="#citation_title"><i
                  class="bi bi-clipboard"></i></button>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <label for="citation_authors" class="col-12 col-sm-2 col-form-label">Penulis</label>
          <div class="col-12 col-sm-10">
            <div class="input-group">
              <input type="text" readonly class="form-control" id="citation_authors" placeholder="Penulis">
              <button class="btn btn-dark" title="copy" type="button" data-clipboard-target="#citation_authors"><i
                  class="bi bi-clipboard"></i></button>
            </div>
          </div>
        </div>

        <div class="row mb-1">
          <label for="citation_journal_title" class="col-12 col-sm-2 col-form-label">Nama Jurnal</label>
          <div class="col-12 col-sm-10">
            <div class="input-group">
              <input type="text" readonly class="form-control" id="citation_journal_title" placeholder="Nama Jurnal">
              <button class="btn btn-dark" title="copy" type="button" data-clipboard-target="#citation_journal_title"><i
                  class="bi bi-clipboard"></i></button>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <label for="citation_volume" class="col-12 col-sm-2 col-form-label">Vol. / No.</label>
          <div class="col-6 col-sm-5">
            <div class="input-group">
              <input type="text" readonly class="form-control" id="citation_volume" placeholder="Volume">
              <button class="btn btn-dark" title="copy" type="button" data-clipboard-target="#citation_volume"><i
                  class="bi bi-clipboard"></i></button>
            </div>
          </div>
          <div class="col-6 col-sm-5">
            <div class="input-group">
              <input type="text" readonly class="form-control" id="citation_issue" placeholder="Nomor">
              <button class="btn btn-dark" title="copy" type="button" data-clipboard-target="#citation_issue"><i
                  class="bi bi-clipboard"></i></button>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <label for="citation_pages" class="col-12 col-sm-2 col-form-label">Halaman</label>
          <div class="col-12 col-sm-10">
            <div class="input-group">
              <input type="text" readonly class="form-control" id="citation_pages" placeholder="Halaman">
              <button class="btn btn-dark" title="copy" type="button" data-clipboard-target="#citation_pages"><i
                  class="bi bi-clipboard"></i></button>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <label for="citation_issn" class="col-12 col-sm-2 col-form-label">ISSN</label>
          <div class="col-12 col-sm-10">
            <div class="input-group">
              <input type="text" readonly class="form-control" id="citation_issn" placeholder="ISSN">
              <button class="btn btn-dark" title="copy" type="button" data-clipboard-target="#citation_issn"><i
                  class="bi bi-clipboard"></i></button>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <label for="citation_publisher" class="col-12 col-sm-2 col-form-label">Penerbit</label>
          <div class="col-12 col-sm-10">
            <div class="input-group">
              <input type="text" readonly class="form-control" id="citation_publisher" placeholder="Penerbit">
              <button class="btn btn-dark" title="copy" type="button" data-clipboard-target="#citation_publisher"><i
                  class="bi bi-clipboard"></i></button>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <label for="citation_doi" class="col-12 col-sm-2 col-form-label">DOI</label>
          <div class="col-12 col-sm-10">
            <div class="input-group">
              <input type="text" readonly class="form-control" id="citation_doi" placeholder="DOI">
              <button class="btn btn-dark" title="copy" type="button" data-clipboard-target="#citation_doi"><i
                  class="bi bi-clipboard"></i></button>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <label for="citation_url" class="col-12 col-sm-2 col-form-label">URL Abstrak</label>
          <div class="col-12 col-sm-10">
            <div class="input-group">
              <input type="text" readonly class="form-control" id="citation_url" placeholder="Alamat Web Jurnal">
              <button class="btn btn-dark" title="copy" type="button" data-clipboard-target="#citation_url"><i
                  class="bi bi-clipboard"></i></button>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <label for="citation_pdf_url" class="col-12 col-sm-2 col-form-label">URL PDF </label>
          <div class="col-12 col-sm-10">
            <div class="input-group">
              <input type="text" readonly class="form-control" id="citation_pdf_url"
                placeholder="Alamat PDF Artikel Jurnal">
              <button class="btn btn-dark" title="copy" type="button" data-clipboard-target="#citation_pdf_url"><i
                  class="bi bi-clipboard"></i></button>
            </div>
          </div>
        </div>

        <!-- <div class="row mb-1">
          <label for="citation_index" class="col-12 col-sm-2 col-form-label">URL INDEX </label>
          <div class="col-12 col-sm-10">
            <div class="input-group">
              <input type="text" readonly class="form-control" id="citation_index"
                placeholder="Alamat Web Jurnal Terindeks">
              <button class="btn btn-dark" title="copy" type="button" data-clipboard-target="#citation_index"><i
                  class="bi bi-clipboard"></i></button>
            </div>
          </div>
        </div> -->
        <div class="row mb-1">
          <label for="citation_date" class="col-12 col-sm-2 col-form-label">Tanggal</label>
          <div class="col-12 col-sm-10">
            <div class="input-group">
              <input type="text" readonly class="form-control" id="citation_date" placeholder="Tanggal Publikasi">
              <button class="btn btn-dark" title="copy" type="button" data-clipboard-target="#citation_date"><i
                  class="bi bi-clipboard"></i></button>
            </div>
          </div>
        </div>


      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <h5 class="card-header">Artikel Index</h5>
          <div class="card-body">
            <h5 class="card-title">Fitur ini akan segera hadir</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
        <div class="card mt-md-3">
          <h5 class="card-header">DATA ARJUNA</h5>
          <div class="card-body" id="history-akreditasi">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="d-flex justify-content-center align-items-center" style=" position: absolute; z-index: 1000; top: 50%;left: 50%; opacity: 0.5; filter: alpha(opacity=50); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
" id="loader">
    <div>
      <div class="spinner-grow text-primary" role="status" style="width: 3rem; height: 3rem; z-index: 20;">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <script src="/javascripts/bootstrap.js"></script>
  <script>
    const resultEl = document.getElementById('result')
    document.getElementById('loader').style.visibility = 'hidden'
    function hide(elName) {
      let el = document.getElementById(elName)
      el.style.visibility = 'hidden';
    }
    const clipboard = new ClipboardJS('.btn-dark');

    clipboard.on('success', function (e) {

      e.clearSelection();
    });

    clipboard.on('error', function (e) {

    });
    let objMeta = {};
    function onSubmitUrl(e) {
      e.preventDefault()
      document.getElementById('result').style.visibility = 'hidden'
      document.getElementById('loader').style.visibility = 'visible'
      const inputEl = document.getElementById('input-url')
      postData(`/ojs`, { url: inputEl.value }).then((data) => {
        if (data['status']) {
          Object.assign(objMeta, data['metadata'])
          for (const key in data['metadata']) {
            document.getElementById(key).value = data['metadata'][key]
          }
          //force doi URL
          document.getElementById('citation_doi').value = `https://doi.org/${data['metadata']['citation_doi']}`
          //force date format

          document.getElementById('citation_date').value = indonesianDate(data['metadata']['citation_date'])
          if (data['history_akreditasi'].length) {
            const objLastAkreditasi = filterLastAcreditation(data['history_akreditasi'])
            document.getElementById('citation_publisher').value = objLastAkreditasi['publisher']
            createAkreditasiList(data['history_akreditasi'])
          }
        } else {
          alert(data['message'])
        }
      }).then((d) => {
        // postData(``)
      })

        .finally(() => {
          document.getElementById('loader').style.visibility = 'hidden'
          document.getElementById('result').style.visibility = 'visible'
        })

    }
    async function postData(url = "", data = {}) {
      const response = await fetch(url, {
        method: "POST",
        mode: "cors",
        cache: "no-cache",
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json",

        },
        redirect: "follow",
        referrerPolicy: "no-referrer",
        body: JSON.stringify(data),
      });
      return response.json();
    }

    const filterLastAcreditation = function (arrAccreditation) {
      if (arrAccreditation.length > 1) {
        return arrAccreditation.reduce((prev, next) => {
          if (+prev['id_identitas_jurnal'] > +next['id_identitas_jurnal']) {
            return prev;
          } else {
            return next;
          }
        })
      }else{
        return arrAccreditation[0]
      }
    }
    function indonesianDate(dateString) {
      const newDate = new Date(dateString)
      return newDate.toLocaleDateString('id-ID', {
        year: "numeric",
        month: "long",
        day: "2-digit"
      })
    }
    function createAkreditasiList(data) {
      let el = ''
      if (!!data.length) {
        el += `<div class="accordion" id="list-akreditasi">`
        let i = 1;
        data.forEach(l => {
          el += `<div class="accordion-item">`
          el += `<h2 class="accordion-header" id="heading-${i}">`
          el += `<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-${i}" aria-expanded="true" aria-controls="collapse-${i}">${l['nama_jurnal']}</button>`
          el += `</h2">`
          el += `<div id="collapse-${i}" class="accordion-collapse collapse" aria-labelledby="heading-${i}" data-bs-parent="#history-akreditasi">
      <div class="accordion-body">
        <p class="text-sm">Tanggal : ${indonesianDate(l['tgl_created'])}</p>
        <p class="text-sm">Publisher : ${l['publisher']}</p>
      </div>
    </div>`
          el += `</div>`
          i++
        });
        el += `</div>`
      } else {
        el += `<h3 class="text-danger">Tidak ada History Akreditasi pada Jurnal ini</h3>`
      }
      document.getElementById('history-akreditasi').innerHTML = el
    }
  </script>
</body>

</html>