<%- include('../ui/headers'); -%>
    <main class="container px-2 py-3">
        <div class="row">
            <div class="col col-md-3">
                <div class="card">
                    <div class="card-header">Identitas Dosen</div>
                    <div class="card-body">
                        <form action="#" method="post" id="form-karil">
                            <div class="mb-2">
                                <label for="disabledTextInput" class="form-label mb-0">NIDN</label>
                                <input type="text" id="nidn" class="form-control"
                                    placeholder="Disabled input">
                            </div>
                            <div class="mb-2">
                                <label for="disabledTextInput" class="form-label mb-0">Nama</label>
                                <input type="text" id="nidn" class="form-control"
                                    placeholder="Disabled input">
                            </div>
                            <div class="mb-2">
                                <label for="disabledTextInput" class="form-label mb-0">Tempat Lahir</label>
                                <input type="text" id="nidn" class="form-control"
                                    placeholder="Disabled input">
                            </div>
                            <div class="mb-2">
                                <label for="disabledTextInput" class="form-label mb-0">Tanggal Lahir</label>
                                <input type="text" id="nidn" class="form-control"
                                    placeholder="Disabled input">
                            </div>
                            <div class="mb-2">
                                <label for="disabledTextInput" class="form-label mb-0">TMT Pangkat</label>
                                <input type="text" id="nidn" class="form-control"
                                    placeholder="Disabled input">
                            </div>
                            <div class="mb-2">
                                <label for="disabledTextInput" class="form-label mb-0">Jabatan Fungsional</label>
                                <input type="text" id="nidn" class="form-control"
                                    placeholder="Disabled input">
                            </div>
                            <div class="mb-2">
                                <label for="disabledTextInput" class="form-label mb-0">TMT Jafung</label>
                                <input type="text" id="nidn" class="form-control"
                                    placeholder="Disabled input">
                            </div>
                            <div class="mb-2">
                                <label for="disabledTextInput" class="form-label mb-0">Bidan Ilmu</label>
                                <input type="text" id="nidn" class="form-control"
                                    placeholder="Disabled input">
                            </div>
                            <div class="mb-2">
                                <label for="disabledTextInput" class="form-label mb-0">Matakuliah</label>
                                <input type="text" id="nidn" class="form-control"
                                    placeholder="Disabled input">
                            </div>
                            <div class="mb-2">
                                <label for="disabledTextInput" class="form-label mb-0">Fakultas</label>
                                <input type="text" id="nidn" class="form-control"
                                    placeholder="Disabled input">
                            </div>
                            <div class="mb-2">
                                <label for="disabledTextInput" class="form-label mb-0">Prodi</label>
                                <input type="text" id="nidn" class="form-control"
                                    placeholder="Disabled input">
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col col-md-8">
                <div class="card">
                    <div class="card-header">Daftar Karya Ilmiah</div>
                    <div class="card-body">
                        <div>
                            <input type="text" class="form-control form-control-lg" placeholder="Masukkan URL Jurnal ">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <%- include('../ui/footer'); -%>